@media (max-width : 768px) {
  .cover-header__columns{    
    &__ava{
      & img{
        max-width: 86%;
      }
    }
    &__name{
      margin-left: -42px;
      & span{
        font-size: 24px;
      }
    }
  }

  .cover-footer__columns{
    flex-direction: column-reverse;
    &__data{
      width: 100%;
      padding: 26px 0 26px 0;
      border-top: 1px solid $color-dark;
      &__item{
        & p{
          width: 50%;
        }
        & div{
          width: 50%;
        }
      }
    }
    &__contacts{
      width: 100%;
      padding: 26px 0 26px 0;
      border-top: 1px solid $color-dark;
      &__item{
        & p{
          width: 50%;
        }
        & div{
          width: 50%;
        }
      }
    }
  }


  .portfolio__columns{  
    &__content{
      width: 50%; 
      &__item{
        & p{
        }
        & div{
          & a{
          }
        }
      }
  
    }
    &__img{
      width: 50%; 
      justify-content: flex-end;
      align-items: center;
      & div{
        width: 67%; 
      }
    }
  }
}

@media (max-width : 768px){
  .portfolio__columns{  
    flex-direction: column-reverse;
    row-gap: 2vh;
    &__content{
      width: 100%;
      &__item{
        & p{
          width: 50%;
        }
        & div{
          width: auto;
          & a{
          }
        }
      }
  
      
    }
    &__img{ 
      width: 100%;
      justify-content: center;
      & div{
        width: 45%;
      } 
    }
  }

  @media (max-width : 600px){
    .portfolio__columns{  
      &__content{
        &__item{
          & p{
          }
          & div{
            & a{
            }
          }
        }
    
      }
      &__img{ 
        & div{
          width: 55%;
        } 
      }
    }
  }

}