.hidden {
  display: none;
}

/*-------------------------------------------*/
/*                   lines                   */
/*-------------------------------------------*/
.marquee-hide {
  // width: 100vw;
  overflow: hidden;
}

.marquee-container{
  height: 52px;
  margin: 0 2.5% 0 2.5%;
  // border: 1px solid $color-dark;
  display: flex;
  align-items: center;
  background: $color-yellow;
  overflow: hidden;
}
.marquee1::after{
  content: "
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0";
}
.marquee1{ 
  white-space: nowrap;
  animation: marquee-right 100s linear infinite;
}

@keyframes marquee-right{
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.marquee2::after{
  content: "
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0";
}
.marquee2{ 
  white-space: nowrap;
  animation: marquee-left 100s linear infinite;
}

@keyframes marquee-left{
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
// 18
.marquee3::after{
  content: "
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2025\A0\A0\A0 ©\A0\A0";
}
.marquee3{ 
  white-space: nowrap;
  animation: marquee-right 100s linear infinite;
}

/*-------------------------------------------*/
/*                    ava                    */
/*-------------------------------------------*/

.cover-header__columns{
  margin-bottom: 50px;
  display: flex;
  &__ava{
    width: 42%;
    display: flex;
    justify-content: center;
    & img{
      max-width: 100%;
      object-fit: contain;
    }
  }
  &__name{
    width: 58%;
    padding-top: 56px;
    margin-left: -122px;
    display: flex;
    justify-content: center;
    & span{
      font-size: 47px;
      padding-left: 4px;
    }
    & p:nth-child(1){
      margin-bottom: 18px;
    }
    & p:nth-child(2){
      margin-bottom: 11px;
      position: relative;
      &::after{
        content: url(../../img/hand-rock.png);
        position: absolute;
        bottom: -3px;
        right: -114px;
        background-size: 100% 100%;
        display: block;
        height: 100px;
        width: 100px;
      }
    }
    & p:nth-child(3){
      margin-right: -89px;
      text-align: right;
    }
  }
}

/*-------------------------------------------*/
/*                footer-data                */
/*-------------------------------------------*/
.cover-footer__columns{
  display: flex;
  &__data{
    width: 50%;
    &__item{
      width: 100%;
      display: flex;
      column-gap: 15px;
      align-items: center;
      text-align: right;
      & p{
        width: 80%;
        white-space: nowrap;
        text-align: right;
      }
      & div{
        width: 20%;
        display: flex;
        justify-content: flex-start;
        & a{
          width: min-content;
        }
      }
    }
  }
  &__contacts{
    width: 50%;
    &__item{
      width: 100%;
      display: flex;
      column-gap: 15px;
      align-items: center;
      text-align: right;
      & p{
        width: 56%;
        white-space: nowrap;
        text-align: right;
      }
      & div{
        width: 44%;
        display: flex;
        justify-content: flex-start;
        & a{
          width: fit-content;
        }
      }
    }
  }
}

.item__mb{
  margin-bottom: 26px;
}

/*-------------------------------------------*/
/*                 portfolio                 */
/*-------------------------------------------*/

.portfolio__columns{
  display: flex;
  &__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__item{
      width: 100%;
      display: flex;
      column-gap: 15px;
      align-items: center;
      text-align: right;
      & p{
        width: 80%;
        white-space: nowrap;
        text-align: right;
      }
      & div{
        width: 20%;
        display: flex;
        justify-content: flex-start;
        & a{
          width: min-content;
        }
      }
    }

  }
  &__img{
    width: 50%;   
    display: flex;
    justify-content: center;
    & div{
      width: 60%;
    } 
  }
}

/*-------------------------------------------*/
/*                 modal                     */
/*-------------------------------------------*/

.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#000000d9;
  display: flex;
  align-items: center;
  justify-content: center;
  &__block{
    width: 75%;
    height: 71%;
    position: relative;
    left: 36px;
    background-color: #000;
    border-radius: 20px;
      &-video{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;    
    }
  }
  &__phone{
    width: auto;
    height: auto;
    padding: 50px;
  }    
  &__close{
      width: 30px;
      height: 30px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 30px;
      right: 30px;
      border-radius: 5px;
      color: white;
      font-size: 29px;
      cursor: pointer;
      &:hover{
          background-color: rgba(175, 175, 175, 0.42);
      }
      &:active{
          background-color: rgba(175, 175, 175, 0.23);
      }
  }
  
}

.hide {
  display: none;
} 

/*-------------------------------------------*/
/*                 slider1                   */
/*-------------------------------------------*/
.v-slider_education1{
  height: 80vh;
  padding: 0 0 0 0;
}
.v-slider_education1__slide__image{
  width: 70vw;
  height: 100%;
}

@media (max-width : 1280px){
  .v-slider_education1{
    height: 85vh;
  }
  .v-slider_education1__slide__image{
    width: 80vw;
    height: 100%;
  }
}
@media (max-width : 1024px){
  .v-slider_education1{
    height: 80vh;
  }
  .v-slider_education1__slide__image{
    width: 85vw;
    height: 100%;
  }
}

@media (max-width : 768px){
  .v-slider_education1{
    height: 53vh;
  }
  .v-slider_education1__slide__image{
    width: 98vw;
    height: 100%;
  }
}

@media (max-width : 480px){
  .v-slider_education1{
    height: 83vh;
  }
}
@media (max-width : 360px){
  .v-slider_education1{
    height: 79vh;
  }
}

.v-slider_education1__slide__image img{
  min-width: 100%;
  object-fit: cover;
}

.img1{
  background-image: url(../../img/11.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.img2{
  background-image: url(../../img/22.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.img3{
  background-image: url(../../img/33.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
}

/*-------------------------------------------*/
/*                 slider2                   */
/*-------------------------------------------*/
.v-slider_education2{
  height: 80vh;
  padding: 0 0 0 0;
}
.v-slider_education2__slide__image{
  width: 70vw;
  height: 100%;
}

@media (max-width : 1280px){
  .v-slider_education2{
    height: 85vh;
  }
  .v-slider_education2__slide__image{
    width: 80vw;
    height: 100%;
  }
}
@media (max-width : 1024px){
  .v-slider_education2{
    height: 80vh;
  }
  .v-slider_education2__slide__image{
    width: 85vw;
    height: 100%;
  }
}

@media (max-width : 768px){
  .v-slider_education2{
    height: 53vh;
  }
  .v-slider_education2__slide__image{
    width: 98vw;
    height: 100%;
  }
}

@media (max-width : 480px){
  .v-slider_education2{
    height: 83vh;
  }
}
@media (max-width : 360px){
  .v-slider_education2{
    height: 79vh;
  }
}

.v-slider_education2__slide__image img{
  min-width: 100%;
  object-fit: cover;
}

.img4{
  background-image: url(../../img/44.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.img5{
  background-image: url(../../img/55.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.img6{
  background-image: url(../../img/66.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.img7{
  background-image: url(../../img/77.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.img8{
  background-image: url(../../img/88.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.img9{
  background-image: url(../../img/99.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.img10{
  background-image: url(../../img/1010.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.img11{
  background-image: url(../../img/1111.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.v-slider_education1 .swiper-pagination-bullet,
.v-slider_education2 .swiper-pagination-bullet
{
  width: 8px;
  height: 8px;
  font-size: 8px;
  background-color: #a629ff;
}
.swiper-pagination-bullet{
  margin: 10px 0 10px 0 !important;
}

.swiper-pagination-bullet-active{
transform: scale(1.5);
}