.hidden {
  display: none;
}

/*-------------------------------------------*/
/*                   lines                   */
/*-------------------------------------------*/
.marquee-hide {
  // width: 100vw;
  overflow: hidden;
}

.marquee-container{
  height: 52px;
  margin: 0 2.5% 0 2.5%;
  // border: 1px solid $color-dark;
  display: flex;
  align-items: center;
  background: $color-yellow;
  overflow: hidden;
}
.marquee1::after{
  content: "
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0
  graphic designer\A0\A0\A0 ◆\A0\A0";
}
.marquee1{ 
  white-space: nowrap;
  animation: marquee-right 100s linear infinite;
}

@keyframes marquee-right{
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.marquee2::after{
  content: "
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0
  portfolio\A0\A0\A0 ◆\A0\A0";
}
.marquee2{ 
  white-space: nowrap;
  animation: marquee-left 100s linear infinite;
}

@keyframes marquee-left{
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
// 18
.marquee3::after{
  content: "
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0
  copyright\A0\A0\A0 2023\A0\A0\A0 ©\A0\A0";
}
.marquee3{ 
  white-space: nowrap;
  animation: marquee-right 100s linear infinite;
}

/*-------------------------------------------*/
/*                    ava                    */
/*-------------------------------------------*/

.cover-header__columns{
  margin-bottom: 50px;
  display: flex;
  &__ava{
    width: 42%;
    display: flex;
    justify-content: center;
    & img{
      max-width: 100%;
      object-fit: contain;
    }
  }
  &__name{
    width: 58%;
    padding-top: 56px;
    margin-left: -122px;
    display: flex;
    justify-content: center;
    & span{
      font-size: 47px;
      padding-left: 4px;
    }
    & p:nth-child(1){
      margin-bottom: 18px;
    }
    & p:nth-child(2){
      margin-bottom: 11px;
      position: relative;
      &::after{
        content: url(../../img/hand-rock.png);
        position: absolute;
        bottom: -3px;
        right: -114px;
        background-size: 100% 100%;
        display: block;
        height: 100px;
        width: 100px;
      }
    }
    & p:nth-child(3){
      margin-right: -89px;
      text-align: right;
    }
  }
}

/*-------------------------------------------*/
/*                footer-data                */
/*-------------------------------------------*/
.cover-footer__columns{
  display: flex;
  justify-content: space-evenly;
  &__data{
    width: 50%;
    display: flex;
    justify-content: center;
    column-gap: 4%;
    &__description{
      width: 48%;
    }
    &__buttons{
      width: 48%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      
    }
    & p{
      margin-bottom: $btn-subtitle-margin-bottom;
      text-align: right;
      white-space: nowrap;
    }
    & a{
        margin-bottom: $btn-margin-bottom;
    }
  }
  &__contacts{
    width: 50%;
    display: flex;
    justify-content: center;
    column-gap: 4%;
    &__description{
      width: 48%;
    }
    &__buttons{
      width: 48%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
    & p{
      margin-bottom: $btn-subtitle-margin-bottom;
      text-align: right;
      white-space: nowrap;
    }
    & a{
        margin-bottom: $btn-margin-bottom;
    }
  }
}

/*-------------------------------------------*/
/*                 portfolio                 */
/*-------------------------------------------*/

.portfolio__columns{
  display: flex;
  align-items: center;
  &__col{
    width: 50%;
    &__item{
      width: 100%;
      margin-bottom: 26px;
      display: flex;
      column-gap: 15px;
      align-items: center;
      text-align: right;
      & p{
        width: 80%;
        white-space: nowrap;
        text-align: right;
      }
      & div{
        width: 20%;
        display: flex;
        justify-content: flex-start;
        & a{
          width: min-content;
        }
      }
    }

    &__img{
      display: flex;
      justify-content: center;
      & img{
        max-width: 100%;
        margin-bottom: 34px;
      }
    }
  }
}