@charset "UTF-8";
/* 1_desctop-от 1600 до 1920 */
/* ====== 1 Прижать футер */
/* 1) */
html, body {
  height: 100%;
  padding-top: 25px;
  background-color: #FCFCFC; }

/* 2) */
.main-container {
  min-height: 100%; }

/* 3) + цвет фона + центрирование содержимого*/
footer {
  height: 168px;
  margin-top: -168px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* 4) */
.clr {
  height: 168px; }

@media (max-width: 768px) {
  footer {
    height: 305px;
    margin-top: -305px; }

  .clr {
    height: 305px; } }
/* ширина + границы сетки */
.container-rows {
  width: 86.97%;
  margin: 0 auto;
  box-sizing: border-box; }

@media (max-width: 1600px) {
  .container-rows {
    width: 100%; } }
@media (max-width: 1280px) {
  .container-rows {
    width: 89.53%; } }
@media (max-width: 1024px) {
  .container-rows {
    width: 93.94%; } }
@media (max-width: 986px) {
  .container-rows {
    width: 92.7%; } }
@media (max-width: 480px) {
  .container-rows {
    width: 88.33%; } }
@media (max-width: 360px) {
  .container-rows {
    width: 89.44%; } }
/* 1) для блоков */
.padding-block-header {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.padding-block-cover {
  padding-top: 46px;
  padding-bottom: 80px; }

.padding-block-name {
  padding-top: 90px;
  padding-bottom: 90px; }

/* 3) для изображения*/
.padding-block-img {
  padding-top: 90px;
  padding-bottom: 90px; }

/* 4) для заголовка и текста*/
.padding-block-content-header {
  padding-top: 60px;
  padding-bottom: 40px; }

/* 5) для заголовка и текста*/
.padding-block-content {
  padding-top: 56px;
  padding-bottom: 0px; }

/* 6) для заголовка и изображения*/
.padding-block-textimg {
  padding-top: 70px;
  padding-bottom: 86px; }

@media (max-width: 1280px) {
  .padding-block-cover {
    padding-top: 26px;
    padding-bottom: 52px; }

  .padding-block-content {
    padding-top: 35px; }

  footer {
    height: 114px;
    margin-top: -114px; }

  .clr {
    height: 114px; } }
.first-font, h1, .c
.text-basic,
p, .marquee-text, .button-text {
  font-family: 'Mont', Arial, Helvetica, sans-serif;
  font-family: 'Unbounded', sans-serif; }

.second-font {
  font-family: 'OlympicHeadline', Arial, Helvetica, sans-serif; }

h1 {
  font-size: 3em;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 101%;
  color: #28468C; }

.c
.text-basic,
p {
  font-size: 1.5em;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  color: #0A0A0A; }

.marquee-text {
  font-size: 1.5em;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  text-transform: uppercase;
  color: #0A0A0A; }

.button-text {
  font-size: 1.5em;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  color: #0A0A0A;
  text-decoration: none; }

.icon-vk {
  width: 50px;
  height: 50px;
  fill: #7c03d2; }
  .icon-vk:hover {
    transform: scale(1.2); }

.hidden {
  display: none; }

/*-------------------------------------------*/
/*                   lines                   */
/*-------------------------------------------*/
.marquee-hide {
  overflow: hidden; }

.marquee-container {
  height: 52px;
  margin: 0 2.5% 0 2.5%;
  display: flex;
  align-items: center;
  background: #E8FD46;
  overflow: hidden; }

.marquee1::after {
  content: "\a   graphic designer   ◆    graphic designer   ◆    graphic designer   ◆    graphic designer   ◆    graphic designer   ◆    graphic designer   ◆    graphic designer   ◆    graphic designer   ◆    graphic designer   ◆    graphic designer   ◆    graphic designer   ◆    graphic designer   ◆    graphic designer   ◆    graphic designer   ◆    graphic designer   ◆    graphic designer   ◆    graphic designer   ◆    graphic designer   ◆  "; }

.marquee1 {
  white-space: nowrap;
  animation: marquee-right 100s linear infinite; }

@keyframes marquee-right {
  from {
    transform: translateX(-50%); }
  to {
    transform: translateX(0%); } }
.marquee2::after {
  content: "\a   portfolio   ◆    portfolio   ◆    portfolio   ◆    portfolio   ◆    portfolio   ◆    portfolio   ◆    portfolio   ◆    portfolio   ◆    portfolio   ◆    portfolio   ◆    portfolio   ◆    portfolio   ◆    portfolio   ◆    portfolio   ◆    portfolio   ◆    portfolio   ◆    portfolio   ◆    portfolio   ◆  "; }

.marquee2 {
  white-space: nowrap;
  animation: marquee-left 100s linear infinite; }

@keyframes marquee-left {
  from {
    transform: translateX(0%); }
  to {
    transform: translateX(-50%); } }
.marquee3::after {
  content: "\a   copyright   2023   ©    copyright   2023   ©    copyright   2023   ©    copyright   2023   ©    copyright   2023   ©    copyright   2023   ©    copyright   2023   ©    copyright   2023   ©    copyright   2023   ©    copyright   2023   ©    copyright   2023   ©    copyright   2023   ©    copyright   2023   ©    copyright   2023   ©    copyright   2023   ©    copyright   2023   ©    copyright   2023   ©    copyright   2023   ©  "; }

.marquee3 {
  white-space: nowrap;
  animation: marquee-right 100s linear infinite; }

/*-------------------------------------------*/
/*                    ava                    */
/*-------------------------------------------*/
.cover-header__columns {
  margin-bottom: 50px;
  display: flex; }
  .cover-header__columns__ava {
    width: 42%;
    display: flex;
    justify-content: center; }
    .cover-header__columns__ava img {
      max-width: 100%;
      object-fit: contain; }
  .cover-header__columns__name {
    width: 58%;
    padding-top: 56px;
    margin-left: -122px;
    display: flex;
    justify-content: center; }
    .cover-header__columns__name span {
      font-size: 47px;
      padding-left: 4px; }
    .cover-header__columns__name p:nth-child(1) {
      margin-bottom: 18px; }
    .cover-header__columns__name p:nth-child(2) {
      margin-bottom: 11px;
      position: relative; }
      .cover-header__columns__name p:nth-child(2)::after {
        content: url(../../img/hand-rock.png);
        position: absolute;
        bottom: -3px;
        right: -114px;
        background-size: 100% 100%;
        display: block;
        height: 100px;
        width: 100px; }
    .cover-header__columns__name p:nth-child(3) {
      margin-right: -89px;
      text-align: right; }

/*-------------------------------------------*/
/*                footer-data                */
/*-------------------------------------------*/
.cover-footer__columns {
  display: flex;
  column-gap: 10px;
  justify-content: space-evenly; }
  .cover-footer__columns__data {
    display: flex;
    column-gap: 4%;
    width: 45%; }
    .cover-footer__columns__data__description {
      width: 68%; }
    .cover-footer__columns__data__buttons {
      width: 28%; }
    .cover-footer__columns__data p {
      margin-bottom: 30px;
      text-align: right;
      white-space: nowrap; }
    .cover-footer__columns__data a {
      margin-bottom: 32px; }
  .cover-footer__columns__contacts {
    display: flex;
    column-gap: 4%;
    width: 45%; }
    .cover-footer__columns__contacts__description {
      width: 46%; }
    .cover-footer__columns__contacts__buttons {
      width: 50%; }
    .cover-footer__columns__contacts p {
      margin-bottom: 30px;
      text-align: right;
      white-space: nowrap; }
    .cover-footer__columns__contacts a {
      margin-bottom: 32px; }

/*-------------------------------------------*/
/*                 portfolio                 */
/*-------------------------------------------*/
.portfolio__columns {
  display: flex;
  column-gap: 10px;
  justify-content: space-evenly; }
  .portfolio__columns__col {
    display: flex;
    column-gap: 4%;
    width: 45%;
    justify-content: center;
    align-items: center; }
    .portfolio__columns__col__description {
      width: 67%; }
    .portfolio__columns__col__buttons {
      width: 28%; }
    .portfolio__columns__col p:not(:last-child) {
      margin-bottom: 30px; }
    .portfolio__columns__col p {
      text-align: right;
      white-space: nowrap; }
    .portfolio__columns__col a:not(:last-child) {
      margin-bottom: 32px; }
    .portfolio__columns__col img {
      max-width: 100%;
      object-fit: contain; }

.button {
  display: inline-flex;
  padding: 0px 18px 1px 16px;
  border: 1px solid #0A0A0A;
  border-radius: 27px;
  align-items: center;
  background: #FFF;
  box-shadow: 0px 3px 4px 0px rgba(10, 10, 10, 0.6); }
  .button:hover {
    background-color: #E8FD46;
    box-shadow: 0px 2px 6px 0px rgba(10, 10, 10, 0.8); }

.btn-arrow {
  position: relative;
  padding: 0px 50px 2px 17px; }
  .btn-arrow::after {
    content: url(../../img/arrrow-btn-right.svg);
    position: absolute;
    width: 25px;
    height: 26px;
    right: 13px;
    color: #0A0A0A;
    opacity: 0.9; }

@media (max-width: 1280px) {
  .btn-arrow {
    padding: 0px 43px 2px 17px; }
    .btn-arrow::after {
      height: 23px;
      transform: scale(0.7); } }
/* 2_desctop-от 1280 до 1600 */
@media (max-width: 1600px) {
  .text-basic,
  p {
    font-size: 1.1875em; }

  .marquee-text {
    font-size: 1.1875em; }

  .button-text {
    font-size: 1.1875em; } }
/* 3_desctop-от 1024 до 1280 */
@media (max-width: 1280px) {
  .text-basic,
  p {
    font-size: 1em; }

  .marquee-text {
    font-size: 1em; }

  .button-text {
    font-size: 1em; } }
@media (max-width: 1280px) {
  .marquee-container {
    height: 35px;
    margin: 0 3% 0 3%; }

  .cover-header__columns {
    margin-bottom: 36px; }
    .cover-header__columns__ava img {
      max-width: 62%; }
    .cover-header__columns__name {
      padding-top: 39px;
      margin-left: -93px; }
      .cover-header__columns__name span {
        font-size: 30px; }
      .cover-header__columns__name p:nth-child(1) {
        margin-bottom: 12px; }
      .cover-header__columns__name p:nth-child(2) {
        margin-bottom: 6px; }
        .cover-header__columns__name p:nth-child(2)::after {
          bottom: -16px;
          right: -92px;
          transform: scale(0.7); }
      .cover-header__columns__name p:nth-child(3) {
        margin-right: -69px; }

  .cover-footer__columns__data p {
    margin-bottom: 21px; }
  .cover-footer__columns__data a {
    margin-bottom: 20px; }
  .cover-footer__columns__contacts p {
    margin-bottom: 21px; }
  .cover-footer__columns__contacts a {
    margin-bottom: 20px; }

  .portfolio__columns__col p:not(:last-child) {
    margin-bottom: 21px; }
  .portfolio__columns__col a:not(:last-child) {
    margin-bottom: 20px; }
  .portfolio__columns__col img {
    max-width: 70%; } }
/* 4_tablet-от 768 до 1024 */
/* 5_tablet-от 480 до 768*/
/* 6_mob-от 360 до 480*/
/* 7_mob-до 360*/

/*# sourceMappingURL=style.css.map */
