@media (max-width: 480px){
  .marquee-container{
    margin: 0;
    height: 38px;
  }

  .cover-header__columns {
    margin-bottom: 31px;
    &__ava{
      width: 38%;
      justify-content: flex-start;
      & img {
        max-width: 152%;
        margin-left: -15px;
    }
    }
    &__name {
      width: 62%;
      margin-left: 0px;
      margin-top: 32px;
      & span{
        font-size: 20px;
        padding-left: 0;
      }
      & p:nth-child(1){
        margin-bottom: 7px;
        padding-right: 64px;
        text-align: right;
      }
      & p:nth-child(2){
        &::after{
          bottom: 25px;
          right: -19px;
        }
      }
      & p:nth-child(3){
        margin-right: 0px;
      }
    }
  }

  .cover-footer__columns__data__item p {
    white-space: normal;
    line-height: 110%;
  }
  .cover-footer__columns__contacts__item p{
    white-space: normal;
    line-height: 110%;
  }


  .portfolio__columns{  
    &__content{
      &__item{
        & p{
          width: 63%;
        }
        & div{
          width: 37%;
          & a{
          }
        }
      }
  
    }
    &__img{ 
      & div{
        width: 60%;
      } 
    }
  }

}
