.first-font {
  font-family: 'Mont', Arial, Helvetica, sans-serif;
  font-family: 'Unbounded', sans-serif;
}

.second-font {
  font-family: 'OlympicHeadline', Arial, Helvetica, sans-serif;
}

// ********************** h1
h1 {
  @extend .first-font;
  font-size: 3em; //48
  font-weight: 800; //bold
  font-stretch: normal;
  font-style: normal;
  line-height: 101%;
  color: $text-h1;
}
.c
// ****************** menu


// *************** main text
.text-basic,
p {
  @extend .first-font;
  font-size: 1.5em; //24px
  font-weight: 400; //regular
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  color: $color-dark;
}

.marquee-text{
  @extend .first-font;
  font-size: 1.5em; //24px
  font-weight: 400; //regular
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  text-transform: uppercase;
  color: $color-dark;
}

.button-text{
  @extend .first-font;
  font-size: 1.5em; //24px
  font-weight: 400; //regular
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  color: $color-dark;
  text-decoration: none;
}
