@media (max-width: 360px) {
  .marquee-container{
    height: 30px;
  }
  .cover-header__columns{
    margin-bottom: 40px;
    flex-direction: column;
    &__ava{
      width: 46%;
      margin-left: 7%;
      & img {
        max-width: 154%;
        margin-left: -6px;
      }
    }
    &__name {
      width: 100%;
      margin-left: 0px;
      margin-top: -59px;
      padding-right: 24px;
      justify-content: flex-end;
      & span{
        font-size: 6.6vw;
        letter-spacing: -0.9px;
      }
      & p:nth-child(1){
        padding-right: 0px;
        margin-bottom: 4px;
      }
      & p:nth-child(2){
        text-align: right;
        margin-bottom: 4px;
        &::after{
          bottom: 45px;
          right: -24px;
          transform: scale(.53);
        }
      }
    }
  }


  .cover-footer__columns{
    &__data{
      padding: 30px 0 30px 0;
      &__item{
        flex-direction: column;
        align-items: center;
        text-align: center;
        & p{
          width: 100%;
          margin-bottom: 4px;
          text-align: center;
        }
        & div{
          width: 100%;
          justify-content: center;
          & a{
            width: 56%;
            padding-top: 4px;
            padding-bottom: 5px;
          }
        }
      }
    }
    &__contacts{
      padding: 30px 0 30px 0;
      &__item{
        align-items: center;
        flex-direction: column;
        text-align: center;
        & p{
          width: 100%;
          margin-bottom: 4px;
          text-align: center;
        }
        & div{
          width: 100%;
          justify-content: center;
          & a{
            width: 56%;
            padding-top: 4px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
.portfolio__columns{
  &__content{
    &__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      & p{
        width: 100%;
        margin-bottom: 4px;
        text-align: center;
      }
      & div{
        width: 100%;
        justify-content: center;
        & a{
          width: 56%;
          padding-top: 4px;
          padding-bottom: 5px;
        }

      }
    }
  }
  &__img{ 
    & div{
      width: 74%;
    } 
  }
}
.botton-mb-360{
  margin-bottom: 15px;
}

}
