@media (max-width: 360px) {
  .marquee-container{
    height: 30px;
  }
  .cover-header__columns{
    margin-bottom: 27px;
    &__ava{
      & img {
        max-width: 156%;
        margin-left: -9px;
      }
    }
    &__name {
      margin-left: 11px;
      margin-top: 17px;
      & span{
        font-size: 16px;
        letter-spacing: -0.9px;
      }
      & p:nth-child(2){
        &::after{
          bottom: 8px;
          right: -24px;
          transform: scale(.53);
        }
      }
    }
  }


.portfolio__columns{
  &__col{
    &__item{
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      & p{
        width: 100%;
        margin-bottom: 4px;
        text-align: center;
      }
      & div{
        width: 100%;
        justify-content: center;
        & a{
          width: 56%;
          padding-top: 4px;
          padding-bottom: 5px;
        }

      }
    }
    &__img{
      & img{
        max-width: 76%;
      }
    }
  }
}

}
