
$footer-bg: #5b5959;
$bg-gradient-1: linear-gradient(89.97deg, #4469BF 0.04%, #8383B6 98.83%);

$menu-link: #ffffff;
$menu-link-hover: #ffffff;
$menu-mobile-bg: #ffffff;
$sub-menu-bg: #d0c6c6;
$sub-menu-link: #134cd1;
$sub-menu-link-hover: rgb(206, 217, 241);

$btn: #516EBD;

$text-h1: #28468C;
$cover-subtitle: #181818;

$text-h2: #767676;
$text-basic-p: #767676;

$icon-color-purple: #7c03d2;

$name-1: rgba(0, 42, 143, 0.67);

// ///////////////////
$body-bg: #FCFCFC;
$color-yellow: #f0ff80;
$color-dark: #0A0A0A;
